<div class="xl:container mx-auto py-10 bg-slate-800 flex flex-row justify-evenly">
  <section>
    <h3 class="md:text-3xl text-slate-400 font-bold mb-2">Info</h3>
    <ul>
      <li class="text-gray-50 text-lg sm:text-2xl">Formats</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Compression</li>
      <li class="text-gray-50 text-lg sm:text-2xl">FAQs</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Status</li>
    </ul>
  </section>

  <section>
    <h3 class="md:text-3xl text-slate-400 font-bold mb-2">Resources</h3>
    <ul>
      <li class="text-gray-50 text-lg sm:text-2xl">Developer API</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Tools</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Blogs</li>
    </ul>
  </section>

  <section>
    <h3 class="md:text-3xl text-slate-400 font-bold mb-2">Company</h3>
    <ul>
      <li class="text-gray-50 text-lg sm:text-2xl">About Us</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Sustainability</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Terms of Service</li>
      <li class="text-gray-50 text-lg sm:text-2xl">Privacy</li>
    </ul>
  </section>
</div>